<!-- css for NoteApp\/create -->

<!-- css for elements in common -->

.non-class {}

.create-main {
    margin-top: 6%;
    padding-right: 10%;
    padding-left: 10%;
}

h3 {
    margin-left: 20px;
}

.title-field {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    height: 24px;
    padding: 2px;
    font-size: 20px;
}

.tag-field {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    padding: 2px;
}

.add-button {
    background: inherit;
    margin: 5px;
}

.add-button:hover {
    background: lightgray;
}

.submit {
    background: inherit;
    margin-top: 20px;
    border-style: outset;
}

.submit:hover {
    background: lightcyan;
}

.submit:active {
    border-style: inset;
}

<!-- end for elements in common -->

<!-- css for note-create.php -->

.non-class {}

.matrix-left-top {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
}

.matrix-right-top {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
}

.matrix-left-bottom {
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
}

.matrix-right-bottom {
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
}

.note-table td{
    padding: 2px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 2px;
}

.note-table th{
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 2px;
    margin: 2px;
}

.note-table th:last-child {
    border-style: none;
}

.table-note-btn-row td {
    border-style: none;
}

.note-tool-bar {
    align-items: center;
    display: flex;
}

.note-matrix {
    display: flex;
    align-items: center;
}

.note-matrix div {
    padding: 5px;
    margin: 10px;
}

.matrix-pos-y-axis {
    text-align: center;
}

.matrix-neg-y-axis {
    text-align: center;
}

.tool {
    margin-left: 2px;
    margin-right: 3px;
    width: 50px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    text-align: center;
}

.note-tool-bar {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    padding: 2px;
}

.tool:hover {
    background: lightgray;
}

.note-root-left-column {
    width: 150px;
}

.note-process-input-field {
    width: 35px;
    border: 2px lightblue groove;
    margin-left: 10px;
    margin-right: 10px;
}

.note-process-input-number {
    align-items: center;
    display: flex;

}

.note-process-main-container {
    align-items: center;
    display: flex;
}

.note-process-single-process {
    width: 75px;
    height: 150px;
    overflow: auto;
}

.note-process-input-error {
    height: 10px;
    margin-bottom: 5px;
    font-size: 9px;
}

.note-content-p {
    padding: 2px;
}

.note-comment-content {
    width: 66%;
    padding: 10px;
    border-bottom: 2px double darkgray;
    border-left: 1px solid lightgray;
    margin-bottom: 15px;
}

<!-- end for note-create.php -->

<!-- css for entry-create.php -->

.non-class {}

.entry-tool-bar {
    align-items: center;
    display: flex;
}

.section-container {
    margin-left: 30px;
    padding-left: 5px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
<!-- end for entry-create.php -->