<!-- css for NoteApp\/create -->

<!-- css for elements in common -->

.non-class {}

.create-main {
    margin-top: 6%;
    padding-right: 10%;
    padding-left: 10%;
}

.tool {

}

<!-- end for elements in common -->

<!-- css for common-create.php -->

.non-class {}


<!-- end for common-create.php -->

<!-- css for note-create.php -->

.non-class {}

.note-tool-bar {
    align-items: center;
    display: flex;
}
<!-- end for note-create.php -->

<!-- css for entry-create.php -->

.non-class {}

.entry-tool-bar {
    align-items: center;
    display: flex;
}
<!-- end for entry-create.php -->